numpy==1.23.3
scipy
tqdm
lpips
mmcv
gdown
Pillow==9.2.0
imageio==2.22.4
imageio-ffmpeg
opencv-python==4.6.0.66
torch_efficient_distloss
torch==1.12.1+cu102
--find-links https://download.pytorch.org/whl/torch_stable.html   
ninja
# torch-scatter
einops
foliantcontrib.imagemagick

matplotlib==3.6.1
torchvision==0.13.1